
.unity-game-main {
    display: flex;
    background: #342a48;
    box-shadow: inset 1px 1px 100px #1c1726;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    gap: 10px;
}
.unity-mobile {
    width: 100%;
    height: 100vh;
}
.unity-game-navbar {
    width: 100%;
    height: 10vh;
}
.unity-game {
    width: 100%;
    height: 89.5vh;
}