@font-face {
  font-family: 'PixelifySans';
  src: url('./assets/fonts/PixelifySans-VariableFont_wght.ttf') format('truetype');
}
@font-face {
  font-family: 'Tiny5';
  src: url('./assets/fonts/Tiny5-Regular.ttf') format('truetype');
}
*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
.App {
  display: flex;
  flex-direction: column;
  text-align: center;
}

